/*==================================
Imports & Variables
*************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
  --primary-font:'Lato',sans-serif;
  --primary-font-color: #009966;
  --secondary-surface-color: #666666;
  --border-color:#999999;
}
/*==================================
ccs reset
*************************************/
*{
  box-sizing: border-box;
  margin: 0;
}


body{
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
  overflow: hidden;
}

@media (min-width:1280px) {
  /*==================================
Layout
*************************************/
.top-hero, .bottom-hero-details{
  width: 100vw;
  height: 49.5%;
  display: flex;
  flex-direction: column;
  
  
}

.top-hero-details{
  display: flex;
  flex-direction: column;
  max-width: 35%;
  min-height: 30%;
  padding: 0.5em;
  margin-left: 15em;
  margin-top: 3em;
}

.bottom-hero-details{
  background-color: var(--secondary-surface-color);
  
}



/*==================================
Components
*************************************/
.top-hero-details > h2, p {
 margin: 1em 0;
}

.card{
  background-color: white;
  border-bottom: 0.5em var(--border-color) solid;
  max-width: 60%;
  margin-left: 15em;
  margin-top: 2em;
  padding: 1em;
}

h3{
  font-size: 1.5em;
  background-color: #FFBF00;
  max-width: 45%;
  padding: .2em;
  vertical-align: middle;
  border-bottom: 0.2em #CC9900 solid;
  position: relative;
  top: -0.5em;
  left: -0.9em;
}

.main-text{
  font-size: 1.25em;
}

h2{
  font-size: 2em;
}

p{
  font-size: 1.25em;
}




span{
  color: var(--primary-font-color);

}

hr{
  border: none;
  border: .2em var(--border-color) solid;
}
  
}

/**Tablet Syling*/

@media (min-width:768px) and (max-width:1279px) {
  /*==================================
Layout
*************************************/
.top-hero, .bottom-hero-details{
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  
  
}

.top-hero-details{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0.5em;
  margin-left: 2em;
  margin-top: 3em;
}

.bottom-hero-details{
  background-color: var(--secondary-surface-color);
  
}



/*==================================
Components
*************************************/
.top-hero-details > h2, p {
 margin: 1em 0;
}

.card{
  background-color: white;
  border-bottom: 0.5em var(--border-color) solid;
  width: 100%;
  margin-top: 2em;
  padding-left: 2em;
}

h3{
  font-size: 1.5em;
  background-color: #FFBF00;
  max-width: 50%;
  padding: .2em;
  vertical-align: middle;
  border-bottom: 0.2em #CC9900 solid;
  position: relative;
  top:0.2em;
  left: -1.5em;
}

.main-text{
  font-size: 1.25em;
}

h2{
  font-size: 2em;
}

p{
  font-size: 1.25em;
}




span{
  color: var(--primary-font-color);

}

hr{
  border: none;
  border: .2em var(--border-color) solid;
}
  
}


/*Mobile Styling*/

@media (min-width:390px) and (max-width:767px) {
  /*==================================
Layout
*************************************/

body{
  overflow: none;
}

.top-hero, .bottom-hero-details{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  
  
}

.top-hero-details{
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0.5em;
  margin-left: 2em;
  margin-top: 3em;
}

.bottom-hero-details{
  background-color: var(--secondary-surface-color);
  
}



/*==================================
Components
*************************************/
.top-hero-details > h2, p {
 margin: 1em 0;
}

.card{
  background-color: white;
  border-bottom: 0.5em var(--border-color) solid;
  width: 100%;
  margin-top: 2em;
  padding-left: 2em;
}

h3{
  font-size: 1.5em;
  background-color: #FFBF00;
  max-width: 70%;
  padding: .2em;
  vertical-align: middle;
  border-bottom: 0.2em #CC9900 solid;
  position: relative;
  top:0.2em;
  left: -1.5em;
}

.main-text{
  font-size: 1.25em;
  padding: 0.8em 0.8em 0.8em 0;
}

h2{
  font-size: 2em;
}

p{
  font-size: 1.25em;
}




span{
  color: var(--primary-font-color);

}

hr{
  border: none;
  border: .2em var(--border-color) solid;
}
  
}