/*==================================
Imports & Variables
*************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
  --primary-font:'Lato',sans-serif;
}
/*==================================
ccs reset
*************************************/
*{
  box-sizing: border-box;
  margin: 0;
}


body{
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
}

/*==================================
Layout
*************************************/
.top-hero{
  width: 100%;
  height: 50%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.top-hero-details{
  display: flex;
  flex-direction: column;
  width: 24%;
  padding: 0.5em;
  margin: 0 auto;
}


/*==================================
Components
*************************************/
.top-hero-details > h2,p{
  margin:2em 0;
}